@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  box-sizing: border-box;
}
.trendCartImage::after {
  content: "";
  position: absolute;
  background-color: black;
  inset: 0;
  opacity: 0.4;
  border-radius: 1rem;
  z-index: 1;
}
